@font-face {
    font-family: 'aller_bold';
    src: url('fonts/aller_bold.eot');
    src: url('fonts/aller_bold.eot') format('embedded-opentype'),
         url('fonts/aller_bold.woff2') format('woff2'),
         url('fonts/aller_bold.woff') format('woff'),
         url('fonts/aller_bold.ttf') format('truetype'),
         url('fonts/aller_bold.svg#aller_bold') format('svg');
}
