@font-face {
    font-family: 'GothamRoundedMedium';
    src: url('fonts/GothamRoundedMedium.eot');
    src: url('fonts/GothamRoundedMedium.eot') format('embedded-opentype'),
         url('fonts/GothamRoundedMedium.woff2') format('woff2'),
         url('fonts/GothamRoundedMedium.woff') format('woff'),
         url('fonts/GothamRoundedMedium.ttf') format('truetype'),
         url('fonts/GothamRoundedMedium.svg#GothamRoundedMedium') format('svg');
}
